<ion-modal-view cache-view="false" ng-controller="ModalRegisterR2" >
  <ion-header-bar>
    <h1 class="title">Necesitado</h1>
    <div class="buttons">
      <button class="button" ng-click="closeModalRegisterR2()"><big>X</big></button>
    </div>
  </ion-header-bar>

  <ion-content class="backgromodal">

    <div  ng-include="'templates/partials/_btnsesion.html'"></div>

    <div  ng-include="'templates/partials/_formregisterR2.html'"></div>

    <div ng-show="openLoginR2" class="list card stable-bg paddingform" >
      <form novalidate  name="formlogin" ng-submit="loginR2(formlogin)"  >
      <div class="login">
        <label class="item item-input item-stacked-label">
          <span class="input-label">Usuario</span>
          <input required type="text" placeholder="indique" ng-model="objR2login.email" >
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Contraseña</span>
          <input required type="password" placeholder="indique" ng-model="objR2login.password" >
        </label>
        <div class="center">
          <br/>
          <button type="submit" class="button button-positive">
            <i class="ion-log-in"></i> Entrar
          </button>
          <br/>
          <br/>
        </div>
      </div>
      </form>
    </div>
    <br/>
    <br/>
  </ion-content>
</ion-modal-view>
