<ion-modal-view ng-init="configView(ro)"  cache-view="false" ng-controller="WanthelpCtrl" >

  <ion-header-bar>
    <h1 class="title">Información</h1>
    <div class="buttons">
      <button class="button" ng-click="closemodalWantHelp()"><big>X</big></button>
    </div>
  </ion-header-bar>

  <ion-content >

    <div class=" contentpadding">

      <div class="list card detailwanthelp">
        <form  novalidate  name="formhe" ng-submit="saveHelp(formhe)"  >

        <!-- INFORMACIÓN DEL NECESITADO-->
          <div ng-show="viewBtnInfo || viewinfoNeedy">
            <div class="center">
              <b>Información Necesitado</b>
            </div>
            <div class="list paddingdetail">

              <center>
                <label>
                  <h4 ng-show="currentHelpDetail.needy.type_needy_id == 2">Familia {{currentHelpDetail.needy.last_names}}</h4>
                  <h4 ng-show="currentHelpDetail.needy.type_needy_id == 1">{{currentHelpDetail.needy.names}} {{currentHelpDetail.needy.last_names}}</h4>
                </label>

                <div ng-show="viewInfoAcceptHelp" class="list infocontact">
                    <div class="center">
                      <b>Datos de contacto y entrega</b>
                      <hr/>
                    </div>
                    <label>
                     <b>Teléfono o Celular Colaborador</b>
                      <span>{{currentHelpDetail.contributor.cellphone_telephone_contact}}</span>
                    </label><br/>
                    <label>
                     <b>Teléfono o Celular Necesitado</b>
                      <span>{{currentHelpDetail.needy.cellphone_telephone_contact}}</span>
                    </label><br/>
                    <label>
                      <b>Lugar</b>
                      <span> {{currentHelpDetail.place_delivery}}</span>
                    </label><br/>
                    <label>
                      <b>Fecha y hora</b>
                      <span> {{currentHelpDetail.date_hour  | date:"dd/MM/yyyy 'a las' h:mma" }}</span>
                    </label>
                </div>

                <img ng-show="currentHelpDetail.needy != null" ng-src="{{currentImageNeedy || '//:0' }}" alt="Imagen necesitado">
              </center>

              <label>
                <span class="input-label"><b>De</b></span>
                <span>{{currentHelpDetail.needy.city}}</span>
              </label>

              <label>
                <span class="input-label"><b>Historia</b></span>
                <span>
                  <p align="justify">
                  {{currentHelpDetail.needy.history}}<br/>
                  <button 
                    type="button" 
                    ng-show="controls.viewlinkHA" 
                    ng-click="fviewHistoryHelpsRequets()" 
                    class="spanlink"> Ver ultimas ayudas 
                    <span class="icon ion-link"></span>
                  </button>
                  </p>
                </span>
              </label>
            </div>
          </div>

          <!-- INFORMACIÓN DEL COLABORADOR -->
          <div ng-show="viewBtnAccept" >
            <div class="center">
              <h4>Información Colaborador</h4>
            </div>
            <div class="list paddingdetail center">
              <center>
                <label>
                  <b>Nombre</b>
                  <span ng-show="currentHelpDetail.contributor.type_contributors_id == 2">
                  Familia {{currentHelpDetail.contributor.last_names}}</span>
                  <span ng-show="currentHelpDetail.contributor.type_contributors_id == 1">{{currentHelpDetail.contributor.names}} {{currentHelpDetail.contributor.last_names}}</span>

                  <div ng-show="viewInfoAcceptHelp" class="list infocontact">
                      <div class="center">
                        <b>Datos de contacto y entrega</b>
                        <hr/>
                      </div>
                      <label>
                       <b>Teléfono o Celular Colaborador</b>
                        <span>{{currentHelpDetail.contributor.cellphone_telephone_contact}}</span>
                      </label><br/>
                      <label>
                       <b>Teléfono o Celular Necesitado</b>
                        <span>{{currentHelpDetail.needy.cellphone_telephone_contact}}</span>
                      </label><br/>
                      <label>
                        <b>Lugar</b>
                        <span> {{currentHelpDetail.place_delivery}}</span>
                      </label><br/>
                      <label>
                        <b>Fecha y hora</b>
                        <span> {{currentHelpDetail.date_hour  | date:"dd/MM/yyyy 'a las' h:mma" }}</span>
                      </label>
                  </div>

                  <img ng-show="currentHelpDetail.contributor != null" ng-src="{{currentImageContributor || '//:0' }}" alt="Imagen colaborador">
                </label>

              </center>
            </div>
          </div>
          <br/>
          <div ng-show="viewBtnAccept"  class="center msgwanthelp">
            <p>Al aceptar la ayuda podrás ver los datos de contacto</p>
          </div>

          <div class="back2historequest" ng-show="controls.viewhistoryHelpsRequets">
            <table width="100%">
              <tr>
                <th>#</th>
                <th>Fecha</th>
                <th>Entregado</th>
              </tr>
              <tr ng-repeat="(key, value) in currenthistoRequest track by $index" >
                <td>{{key+1}}</td>
                <td>{{value.date | date:'dd/MM/yyyy'}}</td>
                <td>
                  <span ng-show="value.delivered"> SI </span>
                  <span ng-show="!value.delivered"> No </span>                  
                </td>
              </tr>
            </table>
          <br/>
          </div>

          <div  ng-show="!viewBtnAccept && !viewBtnInfo && !viewMysHelps"  class="center msgwanthelp">
            <p>Podrás ver los datos de contacto, cuando registres la ayuda</p>
          </div>

          <div ng-show="!viewBtnAccept && !viewBtnInfo && !viewMysHelps" class="center">
            <h4>Registra tu Ayuda</h4>
          </div>



          <!-- FORMULARIO REGISTRO DE AYUDA -->
          <div 
            ng-show="!viewBtnAccept && !viewBtnInfo && !viewMysHelps" 
            class="list paddingdetail">
            <label class="item item-input item-select">
              <span class="input-label">Tipo de ayuda</span>
              <select
                required
                readonly
                ng-model="obj.type_helps_id"
                ng-options="lth as lth.name for lth in list_type_helps track by lth.id" 
              >
              </select>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Descripción de la ayuda</span>
              <textarea 
                required
                rows="7"
                placeholder="Describa brevemente los elementos de la ayuda"
                ng-model="obj.description" ></textarea>
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Proponga un lugar de entrega</span>
              <input required type="text" placeholder="indique" ng-model="obj.place_delivery" >
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Proponga una Fecha y hora de entrega</span>
              <input required type="datetime" placeholder="indique" ng-model="obj.date_hour" >
            </label>
          </div>

          <div class="center">
            <br/>
            <button ng-show="!viewBtnAccept && !viewBtnInfo && !viewMysHelps && !sending" type="submit" class="button button-light">
              <i class="ion-ios-cloud-upload"></i> Registrar ayuda
            </button>
            <button ng-show="viewBtnAccept && !viewBtnInfo && !viewMysHelps && !viewInfoAcceptHelp" type="button" ng-click="acceptHelp()" class="button button-light">
              <i class="ion-ios-cloud-upload"></i> Aceptar ayuda
            </button>
            <button ng-show="viewBtnInfo && !viewBtnAccept && !viewMysHelps" ng-click="closemodalWantHelp()" type="button" class="button button-light">
              <i class="ion-ios-cloud-upload"></i> Listo
            </button>
            <button ng-show="viewMysHelps" ng-click="closemodalWantHelp()" type="button" class="button button-light">
              <i class="ion-ios-cloud-upload"></i> Cerrar Ventana
            </button>
            <br/>
            <br/>
          </div>
        </form>
      </div>
    </div>
  </ion-content>
</ion-modal-view>