
<ion-view view-title="Sobre esto">
  <ion-content>
   <div class="im-wrapper contentpadding">
			<h4 class="border-top center">
			    <i class="icon ion-checkmark"></i>
			    Saludos !
			</h4>
			<p>
				Esta app fue creada por los hermanos Stivenson y Luis Angel Rincón; Un desarrollador de software y un Diseñador grafico que creen que todo es posible y que el mundo se puede cambiar si cada profesional busca la forma de dar un aporte a la sociedad a la que pertenecen desde su area. Buscando siempre un enfoque interdisciplinar y practico, sin miedos y sin prejuicios.
			</p>
			<div class="center">
				<div ng-include="'templates/partials/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>