<ion-view view-title="Lista de necesitados" cache-view="false" >
  <ion-content>
	  <div class="im-wrapper contentpadding">
	   	<div class="center">
	   	
		   	<div class="row">
		   		<div class="col">
		   			<div class="circleneedy" ng-click="goWantHelp()">
		   				<div class="center">
		   				<img class="imgneedy" src="img/material1.jpg">
		   				</div>
		   				<p class="custommarginp"><b>Familia</b><br/>Romero Lopez<br/> <span class="dateplace">03/04/2015 (Cúcuta)</span></p>
		   			</div>
		   		</div>
		   		<div class="col">
		   			<div class="circleneedy">
		   				
		   			</div>
		   		</div>
		   	</div>

		   	<div class="row">
		   		<div class="col">
		   			<div class="circleneedy">
		   				
		   			</div>
		   		</div>
		   		<div class="col">
		   			<div class="circleneedy">
		   				
		   			</div>
		   		</div>
		   	</div>

			</div>
			<div class="center">
				<div ng-include="'templates/partials/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>