<ion-view view-title="Lista de necesitados" cache-view="false" >
  <ion-content class="littletop">
	  <div class="im-wrapper contentpadding">
	   	<div class="center">
	   	
		   	<div ng-repeat=" (key, help) in list track by $index" class="row">
		   		<div class="col">
		   			<div class="circleneedy" ng-click="goWantHelp(2)">
		   				<div class="center">
		   				<img class="imgneedy" ng-src="data:{{help.needy.filetype}};base64,{{help.needy.preview}}">
		   				</div>
		   				<p class="custommarginp">
								 <b ng-show="help.needy.type_needy_id == 2">Familia</b>
                 <b ng-show="help.needy.type_needy_id == 1">Persona</b>
								 <br/> 
                    <span ng-show="help.needy.type_needy_id == 1" ></n>{{help.needy.names}} {{help.needy.last_names}}</span>
                    <span ng-show="help.needy.type_needy_id == 2" ></n>{{help.needy.last_names}}</span>
                 <br/> 
								 <span class="dateplace">
									 {{help.date | date:"dd/MM/yyyy" }} ({{help.needy.city}})
								 </span>
							</p>
		   			</div>
		   		</div>
		   		<div class="col">
		   			<div class="circleneedy">
		   				
		   			</div>
		   		</div>
		   	</div>


			</div>
			<div class="center">
				<div ng-include="'templates/partials/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>