<ion-view view-title="Mis Ayudas" cache-view="false" >
  <ion-content class="littletop" >
	  <div class="im-wrapper contentpadding">
	   	<div class="center">
			  <div class="list">
          <a class="item item-avatar itemlistnotification" 
            ng-click="goWantHelp(1)" >
              <img src="img/material1.jpg">
              <h2>Familia Torres</h2>
              <p> Quiere Ayudarte <br/><i>2009-05-04</i> <span class="ion-ios-search-strong seeicon"></span></p>
          </a>
          <a class="item item-avatar itemlistnotification"
              ng-click="goWantHelp(2)">
              <img src="img/material3.jpg">
              <h2>Familia Sanchez </h2>
              <p>Acepto tu ayuda<br/><i>2013-07-04</i> <span class="ion-ios-search-strong seeicon"></span></p>
          </a>
        </div>
			</div>
			<div class="center">
				<div ng-include="'templates/partials/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>