<ion-view view-title="Notificaciones" cache-view="false" >
  <ion-content class="littletop" >
	  <div class="im-wrapper contentpadding">
	   	<div class="center">
			  <div class="list">
          <a ng-click="goWantHelp(2)" class="item item-avatar itemlist">
              <img src="img/material1.jpg">
              <p>Ayudaste a</p>
              <h2>Familia Jimenez</h2>
              <p>el 2009-05-04 <span class="ion-ios-search-strong seeicon"></span></p>
          </a>
          <a ng-click="goWantHelp(1)"  class="item item-avatar itemlist">
              <img src="img/material2.jpg">
              <p>Recibiste ayuda de</p>
              <h2>Pepito Perez</h2>
              <p>el 2010-05-04 <span class="ion-ios-search-strong seeicon"></span></p>
          </a>
        </div>
			</div>
			<div class="center">
				<div ng-include="'templates/partials/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>