<ion-view view-title="Inicio" cache-view="false" >
  <ion-content>
	  <div class="im-wrapper contentpadding">
	   	<div class="center">
	   	
		   	<div class="row">
		   		<div class="col">
		   			<div class="button circleneedy">
		   				
		   			</div>
		   		</div>
		   		<div class="col">
		   			<div class="button circleneedy">
		   				
		   			</div>
		   		</div>
		   	</div>

		   	<div class="row">
		   		<div class="col">
		   			<div class="button circleneedy">
		   				
		   			</div>
		   		</div>
		   		<div class="col">
		   			<div class="button circleneedy">
		   				
		   			</div>
		   		</div>
		   	</div>

			</div>
			<div class="center">
				<div ng-include="'templates/views/_return.html'"></div>
			</div>
		</div>
	</ion-content>
</ion-view>