
<ion-view view-title="Ionic Components+">
  <ion-content>
   <div class="im-wrapper welcome">
			<h4 class="border-top center">
			    <i class="icon ion-ionic"></i>
			    Bienvenido !
			</h4>
			<p>
				Bienvenido a la app que te ayuda a conseguir ayuda en tu ciudad, para tus necesidades basicas, como ropa o comida..
			</p>
			<p>
				No estas solo, la tecnologia puede ayudarte, a que <b>la gente solidaria de tu ciudad te escuche.</b>
			</p>
			<div class="center">
				<button class="button icon-right ion-ios-shuffle-strong button-dark">Continuar</button>
			</div>
		</div>
	</ion-content>
</ion-view>