
<ion-view view-title="Bienvenida">
  <ion-content>
   <div class="im-wrapper welcome">
			<h4 class="border-top center">
			    <i class="icon ion-ionic"></i>
			    Bienvenido !
			</h4>
			<p>
				Bienvenido a la app en la que puedes ayudar o ser ayudado
			</p>
			<p>
				Pide la ayuda basica de ropa y comida.
			</p>
			<p>
				ó Ayuda a otras familias con estos recursos.
			</p>
			<p>
				No estas solo, la tecnologia puede ayudarte, a que <b>la gente solidaria de tu ciudad te escuche.</b>
			</p>
			<div class="center">
				<div class="row">
					<div class="col">
	          <button ng-click="goNeedHelp()" type="button" class="button icon-right  button-balanced circleblue">
	          Necesito Ayuda
	          </button>
			    </div>
			    <div class="col">
	          <button ng-click="goWanthelp()" type="button" class="button icon-right  button-calm circleblue">
	          Quiero Ayudar
	          </button>
					</div>
			  </div>
		  </div>
		</div>
	</ion-content>
</ion-view>